/* Apply Apple's theme colors */
body {
	background-color: #f5f5f7;
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

header {
	background-color: #fff;
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
	padding: 20px;
	text-align: center; /* add text-align */
}

h1 {
	color: #333;
	font-size: 30px;
	font-weight: 300;
	margin: 0 auto; /* center the h1 element horizontally */
	display: inline-block; /* add display */
}

nav {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: center; /* change justify-content to center */
	align-items: center; /* add align-items */
	padding: 10px;
}

ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin-right: 20px;
}

a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover {
	color: #b8b8c6;
}

main {
	padding: 20px;
}

h2 {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 10px;
}

ol {
	list-style-type: none;
}

#blogs li a {
	color: black;
}

#blogs li a:hover {
	color: #707081;
}

#tutorials li a {
	color: black;
}

#tutorials li a:hover {
	color: #707081;
}

.genaiandassessment ul li {
	list-style-type: disc;
	margin-left: 20px;
}

p {
	margin: 0;
	padding: 0 0 10px;
	text-transform: none;
}

p a {
	text-transform: lowercase;
	color: inherit;
}

footer {
	background-color: #333;
	padding: 20px;
	text-align: center;
}

footer p {
	color: #efebeb;
	font-size: 14px;
	margin: 0;
}

footer .social-icons {
	display: flex;
	justify-content: center;
	font-size: 1.5em;
}

footer a {
	text-transform: none;
}